version: "3.8"
services:
  postgres:
    image: postgres:15
    container_name: ferreai_postgres
    restart: always
    environment:
      POSTGRES_DB: ferreai_dev
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
